body {
  font-family: 'Montserrat', sans-serif;  
}
h1 {  font-size: 3.5rem;  
      line-height: 1.5;  
      font-weight: 900;
      text-align: center;
    }
h2{
  font-family: 'montserrat', sans-serif; 
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}
h3{
  text-align: center;
  font-weight: bold;
  }
p {
  text-align: center;
}

.imagePress{
  width: 10%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%; 
}
.dogTwo{
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

#nav{
  background-color: red;
  text-align: center;
  position: relative;
z-index: 1;
   }
.sectionTwo{
  text-align: center;
  font-size: 4rem;
  color: #ef8172;
}


#title {
  background-color:#ff4c68;
  text-align: center;
   position: relative;
  z-index: 2;

  }
#topHeader {
  padding: 3% 15%;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index:3;

}
#firstSection{
  color: white;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family:'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
font-weight: 300;
}
.downloadButton{
  margin: 5% 3% 5% 0;
}
#dogImage{
  width: 40%;
  transform: rotate(25deg);
  position: relative;
  
   }
#testimonials {
text-align: center;
background-color:#ef8172;
color: white;
}
#press {
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;

}
#pricing{
  padding: 100px;
  text-align: center;
}
#cta{
  background-color: #ff4c68;
  color: white;
  font-family: "Montserrat" sans-serif;
  text-align: center;
  padding: 3em;
}

#footer{
  padding: 3rem;
  background-color: #fff;
}
#icons{
  letter-spacing: 1rem;
}
.sectionTwo:hover {
  color:#ff4c68
}
@media (max-width: 767px){
  #dogImage{
    display: none;
  }
}
@media (min-width: 763px) and (max-width: 904px){
  #dogImage{
    transform: rotate(0);
    width: 60%;
  }
}
